/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&family=Roboto:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: 'Roboto Flex', sans-serif;
    background-color: #faf5f0;
}

header {
    width: 100%;
    background-color: #F0E2D3;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    text-transform: uppercase;
}

/*Homepage*/

header a {
    text-decoration: none;
    color: #000000;
}

#logo {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    font-size: 40px;
}

#navbar {
    display: flex;
    padding: 5px;
}

#navbar li {
    list-style: none;
    padding: 5px 10px;
    font-size: 20px;
}

#hero-image {
    width: 100%;
    height: 350px;
    margin: 0 auto;
    background-image: url("../images/hero-image.webp");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

#home-info-cointainer {
    height: 100%;
    width: 100%;
    margin: 10px;

}

#about-us-main {
    text-align: center;
    margin: 10px;
    padding: 25px 10px;
}

#promise-list-container {
    text-align: center;
    margin: 10px;
    padding: 25px 10px;
}

#promise-list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0 auto;
}

/*Hacks page*/
#hacks-title-container {
    height: 75px;
    width: 100%;
}

#hack-title-main {
    text-align: center;
    padding-top: 15px;
    font-size: 1.5em;
}

.hacks-main-container {
    height: 450px;
    width: 280px;
    display: flex;
    align-self: center;
    padding-top: 15px;
}

.hack-title {
    font-size: 1.2em;
    padding: 10px;
}

.hack-image {
    width: 280px;
}

hr {
    margin: 5px 20px;
}

/*Contact page*/
#contact-page-title {
    height: 150px;
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

#contact-page-title h2 {
    font-size: 1.6em;
}

#contact-main {
    padding: 10px 15px;
}

#form-container {
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#feedback-form {
    height: fit-content;
    padding: 25px;
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
}

.form-input-dimensions {
    height: 20px;
    width: 100%;
    margin: 5px 0;
}

.form-input-margin {
    margin: 5px 0;
}

#feedback-options {
    width: 100%;
    height: 24px;
}

textarea {
    height: 100px;
    width: 100%;
}

#button-container {
    padding: 10px;
    text-align: center;
}

#button {
    padding: 5px 10px;
}

#button:hover {
    background-color: #ffffff;
}

/*Thank you section*/
#thank-you-section {
    width: 100%;
    height: 1000px;
}

#thank-you-container {
    text-align: center;
    padding-top: 70px;
}

#thank-you-container h2 {
    padding: 10px;
}

/*Footer section*/
footer {
    background-color: #F0E2D3;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 50px;
}

li a {
    color: #000000;
}

#social-media-icons {
    display: flex;
    flex-direction: row;
}

#social-media-icons li {
    list-style: none;
    padding: 0 10px;
    font-size: 25px;
    color: #000000;
}

.uppercase {
    text-transform: uppercase;
}

/*Media query for devices with a screen size of 450px and up*/
@media screen and (min-width: 450px) {
    .hacks-main-container {
        width: 400px;
        height: 500px;
    }

    .hack-image {
        width: 400px;
    }
}

/*Media query for devices with a screen size of 600px and up*/
@media screen and (min-width: 600px) {
    header {
        flex-direction: row;
        padding: 28px;
    }

    #social-media-icons li {
        font-size: 25px;
    }

    .hack-title {
        font-size: 1.5em;
        padding: 10px;
    }

    .hacks-main-container {
        width: 500px;
        height: 550px;
    }

    .hack-image {
        width: 500px;
    }
}

/*Media query for devices with a screen size of 690px and up*/
@media screen and (min-width: 690px) {
    .about-us-text {
        font-size: 1.2em;
    }

    #hack-title-main {
        font-size: 1.8em;
    }

    .hack-title {
        font-size: 1.7em;
        padding: 10px;
    }

    .hacks-main-container {
        width: 590px;
        height: 620px;
    }

    .hack-image {
        width: 590px;
    }

    .hack-paragraph {
        font-size: 1em;
    }

    .contact-text {
        font-size: 1.5em;
    }
}

/*Media query for devices with a screen size of 768px and up*/
@media screen and (min-width: 768px) {
    #hero-image {
        height: 650px;
    }

    .hack-title {
        font-size: 1.8em;
        padding: 10px;
    }

    .hacks-main-container {
        width: 700px;
        height: 700px;
    }

    .hack-image {
        width: 700px;
    }

    .hack-paragraph {
        font-size: 1.1em;
    }

}

/*Media query for devices with a screen size of 992px and up*/
@media screen and (min-width: 992px) {
    #home-info-container {
        display: flex;
        flex-direction: row;
    }

    #about-us-main {
        width: 50%;
    }

    .about-us-text {
        padding-top: 5%;
    }

    #promise-list-container {
        width: 50%;
    }

    #promise-list {
        flex-direction: column;
        align-items: center;
    }

    #promise-list li {
        padding: 5%;
    }

    #hack-title-main {
        font-size: 1.9em;
    }

    .hack-title {
        font-size: 2em;
        padding: 10px;
    }

    .hacks-main-container {
        width: 890px;
        height: 800px;
    }

    .hack-image {
        width: 890px;
    }

    .hack-paragraph {
        font-size: 1.2em;
    }
}

/*Media query for devices with a screen size of 1400px and up*/
@media screen and (min-width: 1400px) {
    #hero-image {
        height: 800px;
    }

    .hack-title {
        font-size: 2.1em;
        padding: 10px;
    }

    .hacks-main-container {
        width: 1000px;
        height: 900px;
    }

    .hack-image {
        width: 1000px;
    }

    .hack-paragraph {
        font-size: 1.3em;
    }
}

/*Media query for devices with a screen size of 2000px and up*/
@media screen and (min-width: 2000px) {
    #hero-image {
        height: 1000px;
    }

    .hack-title {
        font-size: 2.2em;
        padding: 10px;
    }

    .hacks-main-container {
        width: 1200px;
        height: 1200px;
    }

    .hack-image {
        width: 1200px;
    }

    .hack-paragraph {
        font-size: 1.4em;
    }
}