/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&family=Roboto:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: 'Roboto Flex', sans-serif;
    background-color: #faf5f0;
}

header {
    width: 100%;
    background-color: #F0E2D3;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    text-transform: uppercase;

}

/*Homepage*/

#logo {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    font-size: 40px;
}

#navbar {
    display: flex;
    padding: 5px;
}

#navbar li {
    list-style: none;
    padding: 5px 10px;
    font-size: 20px;
}

#hero-image {
    width: 100%;
    height: 350px;
    margin: 0 auto;
    background-image: url("../images/hero-image.webp");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

#home-info-cointainer {
    height: 100%;
    width: 100%;
    margin: 10px;

}

#about-us-text {
    text-align: center;
    margin: 10px;
    padding: 25px 10px;
}

#promise-list-container {
    text-align: center;
    margin: 10px;
    padding: 25px 10px;
}

#promise-list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0 auto;
}

/*Hacks Section*/
#hacks-title-container {
    height: 75px;
    background-color: burlywood;
    width: 100%;
}

#hacks-title {
    text-align: center;
    padding-top: 15px;
    font-size: 1.5em;
}

.hacks-main-container {
    height: 450px;
    width: 280px;
    background-color: antiquewhite;
    display: flex;
    align-self: center;
    padding-top: 15px;
}

.hack-text {
    font-size: 1.2em;
    padding: 10px;
}

.hack-image {
    width: 280px;
}

hr {
    margin: 5px 20px;
}


/*Footer section*/
footer {
    background-color: #F0E2D3;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 50px;
}

#social-media-icons {
    display: flex;
    flex-direction: row;
}

#social-media-icons li {
    list-style: none;
    padding: 0 10px;
    font-size: 25px;
    color: #000000;
}

.uppercase {
    text-transform: uppercase;
}

/*Media query for devices with a screen size of 600px and up*/
@media screen and (min-width: 600px) {
    header {
        flex-direction: row;
        padding: 28px;
    }

    #social-media-icons li {
        font-size: 25px;
    }

    .hacks-main-container {
        width: 500px;
        height: 500px;
    }

    .hack-image {
        width: 500px;
    }
}

/*Media query for devices with a screen size of 768px and up*/
@media screen and (min-width: 768px) {
    #hero-image {
        height: 650px;
    }

    .hacks-main-container {
        width: 700px;
        height: 600px;
    }

    .hack-image {
        width: 700px;
    }

}

/*Media query for devices with a screen size of 992px and up
@media screen and (min-width: 992px)*/

/*Media query for devices with a screen size of 1400px and up*/
@media screen and (min-width: 1400px) {
    #hero-image {
        height: 800px;
    }
}

/*Media query for devices with a screen size of 2000px and up*/
@media screen and (min-width: 2000px) {
    #hero-image {
        height: 1000px;
    }
}